// Mobile
@media (max-width: 575.98px) {
    .is-mobile {
        display: none;
    }

    .reloader {
        svg {
            width: 50vw;
        }
        h3 {
            font-size: 13px;
            margin-top: -80px;
        }
    }

    .pagination {
        position: fixed;
        display: block;
        z-index: 3;
        left: 103%;
        top: 50%;

        .dot {
            margin: 20px 0px;
            cursor: pointer;
            transition: 0.5s;
        }
    }

    .navigation {

        .wrapper {
            .button {
                top: 30%;
                left: 10%;
                width: 35px;
                height: 35px;
            }

            .list-nav {
                right: 50px;
                top: 30%;

                li {
                    margin: 30px 0;

                    a {
                        .name {
                            font-size: 20px;
                        }
                    }
                }
            }

            .list-socials {
                top: 60%;

                div {
                    margin: 15px 5px;
                }

                ul {
                    li {
                        padding: 10px;
                        margin: 10px;

                        a {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

    .button-open-navigation {
        top: 8%;
        width: 40px;
        height: 40px;

        &:hover {
            div.two {
                width: 60px;
            }
        }

        div {
            height: 4px;
            margin: 7px 0;
            border-radius: 5px;
            transition: 0.5s;
            padding: 0;

            &.one {
                width: 40px;
            }

            &.two {
                width: 20px;
            }

            &.three {
                width: 30px;
            }
        }
    }

    .home {
        .masternew {
            svg {
                width: 300px;
            }
        }

        .moon {
            height: 30%;
        }

        .intro {
            position: absolute;
            top: 56%;
            width: 70%;
            transform: translate(-50%, -50%);
            overflow: hidden;
            font-size: 14px;

            p {
                height: 120px;
            }

            span.wrapper {
                position: absolute;
            }
        }

        .background {
            position: absolute;
            left: 0%;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    .projects {
        .project {
            .pin-wrapper {
                .image {
                    top: 25%;
                    height: 300px;
                    width: 300px;
                    left: -100%;
                }

                .content {
                    right: -100%;
                    top: 65%;
                    width: 300px;

                    h3 {
                        font-size: 24px;
                        margin: 0;
                    }

                    .stack {
                        span {
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }

    .skills {
        .skill-box {
            width: 80%;
            transform: translateX(10%);
            margin: 15px 0;

            p {
                margin: 0px;
                padding: 0;

                &:nth-child(2) {
                    top: -20px;
                }
            }

            .skill {
                padding: 2px;

                .skill-level {
                    height: 10px;
                }
            }
        }
    }

    .portfolio, .skills, .contact {
        .header {
            svg {
                width: 90%;
            }

            p {
                height: 40px;
                overflow: hidden;
                position: relative;

                .wrapper {
                    position: absolute;
                    left: 0%;
                    top: 40px;
                }
            }
        }

    }

    .skills {
        .header {
            svg {
                width: 65%;
            }
        }
    }

    .portfolio {
        .header {
            margin: 0;
        }

    }

    .contact {
        .header {
            margin: 0;
        }
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 991.98px) {
    .portfolio,
    .skills,
    .contact {
        padding: 50px 0 0 0;
        .header {
            text-align: center;
            text-transform: uppercase;
            margin: 20px 0;

            h3 {
                font-size: 40px;
            }
        }
    }

    .projects {
        .project {
            .pin-wrapper {
                .image {
                    left: 10%;
                    top: 35%;
                    height: 600px;
                    width: 600px;
                }

                .content {
                    top: 65%;
                    width: 600px;
                    right: 10%;

                    h3 {
                        font-size: 24px;
                        margin: 0;
                    }

                    .stack {
                        span {
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }

    .skills {
        min-height: 50vh;
    }
}
