$main: #f12711;
$secondary: #f1c40f;
$red1: #d2492f;
$red-2: #c0392b;
$color0: rgba(255, 255, 255, 1);
$red3: #F44336;
$color2: rgba(1, 22, 39, 1);
$color3: rgb(218, 186, 189);
$color4: rgba(252, 252, 98, 1);
$color5: rgba(253, 255, 252, 1);
$black: #1c1b20;
$color6: #fdd58b;
$color7: #cca358;
$color8: #2c3e50;
$color9: #ff6348;
$gradient1: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
$primary: #203a43;
