/* Coolors Exported Palette - coolors.co/fc440f-011627-a31621-fcfc62-fdfffc */

/* HSL */
$color1: hsla(13%, 98%, 52%, 1);
$color2: hsla(207%, 95%, 8%, 1);
$color3: hsla(355%, 76%, 36%, 1);
$color4: hsla(60%, 96%, 69%, 1);
$color5: hsla(100%, 100%, 99%, 1);

/* RGB */
$color1: rgba(252, 68, 15, 1);
$color2: rgba(1, 22, 39, 1);
$color3: rgba(163, 22, 33, 1);
$color4: rgba(252, 252, 98, 1);
$color5: rgba(253, 255, 252, 1);